body {
    font-family: 'Roboto', sans-serif;
    background-color: #ececec;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 1200px; /* Increased max-width for better layout */
    margin: 0 auto; /* Center align container */
    display: flex;
    justify-content: space-between; /* Separate main content and sidebar */
    padding: 30px;
}

.container h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

.main-content {
    width: 100%; /* Adjust the width for main content */
}

.movies-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px; /* Add some spacing between movie items */
}

.movie {
    width: calc(50% - 15px); /* Adjust width for responsive 2-column layout */
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.movie img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

.movie h2 {
    color: #333;
    margin-top: 0;
}

.movie p {
    color: #666;
}

.movie .price {
    font-weight: bold;
    color: #007bff;
    margin-bottom: 10px;
}

.showtimes {
    margin-top: 10px;
    color: #555;
}

.showtimes ul {
    padding-left: 20px;
}

.showtimes li {
    list-style-type: disc;
}

form {
    margin-top: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

form input[type="text"],
form input[type="email"],
form input[type="date"],
form select,
form input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #0056b3;
}

.sidebar {
    width: 30%; /* Adjust width for sidebar */
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.sidebar h2 {
    color: #333;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

#recommended-movies {
    list-style-type: none;
    padding: 0;
}

#recommended-movies li {
    margin-bottom: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

#recommended-movies li:hover {
    text-decoration: underline;
}
